.radio-input {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    font-family: 'Helvetica';
    font-size: 12px;
    font-weight: 500;
    color: white;
}
  
.radio-input input[type="radio"] {
    display: none;
}
  
.radio-input label {
    display: flex;
    font-weight: 700;
    align-items: center;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-right: 12px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
}
  
.radio-input label:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff; 
    border: 2px solid #cccccc; 
    transition: all 0.3s ease-in-out;
}
  
.radio-input input[type="radio"]:checked + label:before {
    background-color: green;
    top: 0;
}
  
.radio-input input[type="radio"]:checked + label {
    background-color: #2e7d32; 
    color: #000000; 
    border-color: #000000; 
    animation: radio-translate 0.5s ease-in-out;
}
  
@keyframes radio-translate {
    0% {
      transform: translateX(0);
    }
  
    50% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateX(0);
    }
}
